html {
  height: 100%;
}

body {
  margin: 0 auto;
  text-color: black;
  height: 100%;
}

.wrapper {
    min-height: 100%;
    display: flex;
    flex-direction: column;
    max-width: 1140px;
    margin: 0 auto;
}

header {
    min-height: 10vh;
    margin-bottom: 10px;
    text-align: center;
    background: linear-gradient(45deg, navy, white);
    box-sizing: border-box;
    box-shadow: 0px 10px 20px 5px grey;
}

main {
  flex: 1 1 auto;
  background: #00bcd4;
  padding: 10px;
}

footer {
  background: linear-gradient(45deg, navy, white);
  text-align: center;
  min-height: 10vh;
  margin-top: 10px;
  display: flex;
  flex-direction: row;
}

.block {
    border: 1px solid black;
}

.menu {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    list-style: none;
    text-decoration: none;
}

a.main-menu {
    color: white;
    text-decoration: none;
    font-family: arial;
    font-size: 25px;
    font-weight: 300;
    font-stretch: condensed;
    text-shadow: 1px 3px 8px #2400fd;
}

.form_control {
    border: 1px solid blue;
    font-size: 14px;
}

.simple_card {
    border: 1px solid black;
    border-radius: 8px;
    text-align: center;
    background-color: white;
    margin: 5px;
    padding: 10px;
}

.no_marker_menu {
    list-style: none;
    padding-inline-start: 0px;
    margin-block-start: auto;
    margin-block-end: auto;
}

.article_common {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.article_block {
    width: 80%;
}

.article_category {
    width: 20%;
}

.right_column {
    min-width: 25%;
}

.left_column {
    min-width: 25%;
}

.center {
    min-width: 50%;
}

.article_image {
    width: 200px;
    height: 200px;
    margin: 16px;
}

.article_info {
    text-align: left;
    margin-left: 16px;
}

.flex_row {
    display: flex;
    flex-direction: row;
}