{% extends 'mainapp/base.html' %}

{% block content %}
<div class="article_menu">
    <h3>Список статей</h3>
    <h3><a href="{% url 'add_article' %}">Добавить статью</a></h3>
</div>

<ul class="no_marker_menu">
    {% if articlles %}
        {% for el in articles %}
        <li>
            <div class="simple_card">
                <h2>{{ el.title }}</h2>
                <h4>Автор: {{ el.author }}</h4>
                <h5>Дата публикации: {{ el.updated_time }}</h5>
                <h5>Количество просмотров: {{ el.visitors_counter }} </h5>
                <p>
                    <a href="{{ el.get_absolute_url }}">Читать статью</a>
                </p>
            </div>
        </li>
        {% endfor %}
    {% else %}
        <li>
            <div class="">
                <h3>Здесь пока ничего нет. Вероятно скоро появится</h3>
            </div>
        </li>
    {% endif %}
</ul>
{% endblock %}
