{% extends 'mainapp/base.html' %}

{% block content %}
    <div class="article_common">
        <!-- Левая колонка -->
        <div class="simple_card article_category">
            <h3><a href="{% url 'add_article' %}">Добавить статью</a></h3>
            <h3><a href="{% url 'add_author' %}">Добавить автора</a></h3>
            <hr/>
            <h3>Статьи по категориям:</h3>
            <ul class="no_marker_menu">
                    <li>
                        <h4><a href="/articles/">Все категории</a></h4>
                    </li>
                {% for cat_name in category_list %}
                    <li>
                        <h4><a href="/articles/categories/{{ cat_name.slug }}">{{ cat_name.name }}</a></h4>
                    </li>
                {% endfor %}
            </ul>

        </div>
        <!-- Правая колонка -->
        <div class="article_block">
            <ul class="no_marker_menu">
                {% if articles %}
                    {% for el in articles %}
                        <li>
                            <div class="simple_card flex_row">
                                <div class="article_image">
                                    {% if el.image %}
                                        <img src="{{ el.image }}" alt="" class="article_image">
                                    {% else %}
                                        <img src="no_image.png" class="article_image" alt="">
                                    {% endif %}
                                </div>
                                <div class="article_info">
                                    <h2>{{ el.title }}</h2>
                                    <h4>Автор: {{ el.author }}</h4>
                                    <h5>Дата публикации: {{ el.updated_time }}</h5>
                                    <h5>Количество просмотров: {{ el.visitors_counter }} </h5>
                                    <p>
                                       <a href="/article/{{ el.slug }}">Читать статью</a>
                                    </p>
                                </div>

                            </div>
                        </li>
                    {% endfor %}
                {% else %}
                    <li>
                        <div class="simple_card">
                            <h3>Здесь пока ничего нет. Вероятно скоро появится</h3>
                        </div>
                    </li>
                {% endif %}
            </ul>
        </div>
    </div>
{% endblock %}
