{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{{ title | title }}</title>
    <link type="text/css" href="{% static 'mainapp/css/style.css' %} " rel="stylesheet" />
</head>
    <body>
        <div class="wrapper">
            <!-- Блок верхней части сайта -->
            <header class="header block">
                {% block header %}
                <h2 class="" id="top">{{ title | title }}</h2>
                    <!-- Блок меню -->
                    {% block menu %}
                        {% include 'includes/inc-main-menu.html' %}
                    {% endblock %}
                {% endblock %}
            </header>

            <!-- Основной блок -->
            <main class="main block">
                {% block content %}
                {% endblock %}
            </main>

            <!-- Блок нижней части сайта -->
            <footer class="footer block">
                {% block footer %}
                    <div class="left_column">
                        <h5>&copy 2023</h5>
                        <h5>
                            <a href="#top">Вверх</a>
                        </h5>
                    </div>
                    <div class="center"></div>
                    <div class="right_column">
                        <div></div>
                        <div>
                            <p>Разработка сайта:</p>
                            <p>Maksim Sapunov</p>
                            <p>Jenny6199@yandex.ru</p>
                        </div>
                    </div>

                {% endblock %}
            </footer>
        </div>
    </body>
</html>