{% extends 'mainapp/base.html' %}
{% block content %}
<h3>О сайте</h3>
    <div class="flex_row">
        <div id="mc_1" class="simple_card">
            <h3>Блок 1</h3>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aliquid, consequatur dolore doloribus error ex, fugit illum labore nam obcaecati quas quasi quia rem voluptates! Accusantium explicabo laboriosam nam nisi veniam.</p>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Distinctio facilis, fuga mollitia nisi quaerat ratione rerum sapiente similique ullam! Amet beatae delectus deserunt dicta iure obcaecati officiis perferendis vitae voluptas?</p>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Alias architecto atque, beatae consequuntur debitis, distinctio expedita facilis, in necessitatibus nobis officia officiis pariatur praesentium quae quo repellat repellendus temporibus voluptatem?</p>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusantium animi debitis deleniti, dolore dolores doloribus earum eum, explicabo illum, ipsam pariatur placeat quia quibusdam quis sequi soluta unde. Eius, nihil.</p>
            </hr>
            </br>
            <a href="">подробнее</a>
        </div>
        <div id="mc_2" class="simple_card">
            <h3>Блок 2</h3>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aliquid, consequatur dolore doloribus error ex, fugit illum labore nam obcaecati quas quasi quia rem voluptates! Accusantium explicabo laboriosam nam nisi veniam.</p>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Distinctio facilis, fuga mollitia nisi quaerat ratione rerum sapiente similique ullam! Amet beatae delectus deserunt dicta iure obcaecati officiis perferendis vitae voluptas?</p>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Alias architecto atque, beatae consequuntur debitis, distinctio expedita facilis, in necessitatibus nobis officia officiis pariatur praesentium quae quo repellat repellendus temporibus voluptatem?</p>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusantium animi debitis deleniti, dolore dolores doloribus earum eum, explicabo illum, ipsam pariatur placeat quia quibusdam quis sequi soluta unde. Eius, nihil.</p>
            </hr>
            </br>
            <a href="">подробнее</a>
        </div>
        <div id="mc_3" class="simple_card">
            <h3>Блок 3</h3>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aliquid, consequatur dolore doloribus error ex, fugit illum labore nam obcaecati quas quasi quia rem voluptates! Accusantium explicabo laboriosam nam nisi veniam.</p>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Distinctio facilis, fuga mollitia nisi quaerat ratione rerum sapiente similique ullam! Amet beatae delectus deserunt dicta iure obcaecati officiis perferendis vitae voluptas?</p>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Alias architecto atque, beatae consequuntur debitis, distinctio expedita facilis, in necessitatibus nobis officia officiis pariatur praesentium quae quo repellat repellendus temporibus voluptatem?</p>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusantium animi debitis deleniti, dolore dolores doloribus earum eum, explicabo illum, ipsam pariatur placeat quia quibusdam quis sequi soluta unde. Eius, nihil.</p>
            </hr>
            </br>
            <a href="">подробнее</a>
        </div>
    </div>
{% endblock %}
